body
{
	font-family: Arial;
	text-decoration: none;
	color: #000000;
	font-size: 10 px;
	margin-top: 3%;
}

#lFolioSol
{
	opacity: 0.350;
	font-size:100%;
}

#txtFolioSol
{
	opacity: 0.350;
	border: 0;
	background-color: white;
}

.show1 {
	display: none;
}

.Seccion
{
	font-weight: bold;
	font-size: 100%;
	color: White;
	text-decoration: none;
	font-style: normal;
	font-family: Lucida Sans Unicode;
	height: 3%;
	font-variant: normal;
	background-color: #5a9ecf;
	text-align: center;
	margin-bottom:.5%;
}
.Titulo
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: CadetBlue;
	height: 20px;
	font-size: 20px;
	width:100%;
	margin-left:10%;
}
.contenedor{
    text-align: center;
	margin-top: -10%;
}

.bDiv{
  display: inline-block;
}

.menuItemServicioCliente
{
	background-image:url(imagenes/xp_max.jpg);
	background-position:right top;
	background-repeat: no-repeat;
	height:14px;
	margin:0;
	padding:0 0;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-align:left;
	width:100%;
	cursor:hand;
	height:20px;
	vertical-align:text-top;
	visibility:hidden;
}

.menuServCliente
{
	margin:-5px;
	padding:-5px;
	width:180px;
	visibility:hidden;
	position:absolute;
}

.menu
{
	margin:0px;
	padding:0;
	width:100%;
	visibility:visible;
	position:relative;
}
.menu ul
{
	margin:0px;
	margin-left:0;
	padding:0;
	width:180px;
	padding:0px;
	padding-left:0;
	margin-left:0px;
	border-style:none;
	padding-top:0;
	margin-top:0;
	margin-bottom:0;
	border:0;
	left:0;
	list-style-type:none;
	clear:left;
}

.menu li /*Elemento padre*/
{
	margin:0;
	margin-bottom:0;
	padding:0;
	list-style:none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-align:left;
	width:180px;
	cursor:hand;
	border:0;
	vertical-align:text-bottom;
	font-weight:bold;
}

.menu li:hover /*Elemento padre*/
{
	color:Silver;
	cursor:hand;
}

.menu li li {
	margin:0;
	padding:0;
	list-style:none;
	background-image:none;

	display:table-footer-group;
	float:left;
	font-size:11px;
	position:static;
	vertical-align:middle;
	border:0;
	margin-bottom:0;
	border-bottom:0px solid#ffffff;
	font-weight:normal;
	height:2px;
}
.menu li li a {

	width:100%;
	padding:0px 0;
	text-decoration:none;
	text-align:left;
	font-size:11px;
	color:White;
	background-color:#2169af;
	list-style:none;
	border:0;
}

.menu li li a:hover {
	color:#2169af;
	background-color:#ccffff;
	border:0;
}

.menuPrincipalVer
{
	background-color:Transparent;
	color:White;
	text-align:left;
	width:95%;
	font-weight:bold;
	font-size:12px;
}
.menuPrincipalSalir
{
	background-color:Transparent;
	color:White;
	text-align:right;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
}
.gridblanco {
	color:Black;
	background-color:White;
	border:1px;
	height:15px;
}
.gridazul {
	color:Black;
	background-color:#CEE3F6;
	border:0px;
}
.logo{
	height: 7%;
	width: 28%;
}

#contenedorPrincipal{
  padding: .5%;
	width: 95%;
	margin-bottom: 2% !important;
  margin: auto;
  box-shadow:0px 0px 15px gray;
  -moz-box-shadow:0px 0px 15px gray;
 
}
.ui-button .ui-button-text
{
	display: inline;
	font-size: 100%;
}
#btnConsultaCurp.ui-button.ui-widget.ui-button-text-only .ui-button-text
{
	font-size: 100%;
	font-weight: bold;
}

.comboBoxVista
{
	width: 64%;
	font-size: 90%;
	background-color:Azure;
	height:3%;
}
.comboBoxVistaCab
{
	width: 56%;
	font-size: 90%;
	background-color:Azure;
}
.entradaTexto
{
	width: 64%;
	background-color:Azure;
}
.entradaTextoBenef
{
	width: 100%;
	background-color:Azure;
}
.comboBoxVistaExcep
{
	width: 64%;
	margin-left:20%;
	background-color:Azure;
}
#lvideo
{
	text-align:center;
}
.tdbenef
{
	width: 62%;
}
.entradaTextoCurp
{
	width: 37%;
	background-color:Azure;
}
/*.ui-widget-content*/
#divMensaje.ui-dialog-content
{
	font-family: Arial;
	font-size: 100%;
	font-weight: bold;
}
.input-group .form-control {
	z-index: 0 !important;
}
#bloquea
{
	position:fixed;
	top:0px;
	left:0px;
	z-index:3200;
	filter:alpha(opacity=65);
	-moz-opacity:65;
	opacity:0.75;
	background:#190B07;
}
.Espera{
	padding: 20px;
	background: white;
	border-radius: 12px;
}

/* LOADER */

.content-loader{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  position: fixed;
  z-index: 99;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  position: fixed;
  margin: 0 auto;
  top: 50% !important;
  left: 50% !important;
  z-index: 100;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0080ff, 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.5), -1.8em -1.8em 0 0em rgba(0,128,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.7), 1.8em -1.8em 0 0em #0080ff, 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.5), 1.8em -1.8em 0 0em rgba(0,128,255, 0.7), 2.5em 0em 0 0em #0080ff, 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.5), 2.5em 0em 0 0em rgba(0,128,255, 0.7), 1.75em 1.75em 0 0em #0080ff, 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.5), 1.75em 1.75em 0 0em rgba(0,128,255, 0.7), 0em 2.5em 0 0em #0080ff, -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.5), 0em 2.5em 0 0em rgba(0,128,255, 0.7), -1.8em 1.8em 0 0em #0080ff, -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.5), -1.8em 1.8em 0 0em rgba(0,128,255, 0.7), -2.6em 0em 0 0em #0080ff, -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.5), -2.6em 0em 0 0em rgba(0,128,255, 0.7), -1.8em -1.8em 0 0em #0080ff;
  }
}

@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0080ff, 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.5), -1.8em -1.8em 0 0em rgba(0,128,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.7), 1.8em -1.8em 0 0em #0080ff, 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.5), 1.8em -1.8em 0 0em rgba(0,128,255, 0.7), 2.5em 0em 0 0em #0080ff, 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.5), 2.5em 0em 0 0em rgba(0,128,255, 0.7), 1.75em 1.75em 0 0em #0080ff, 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.5), 1.75em 1.75em 0 0em rgba(0,128,255, 0.7), 0em 2.5em 0 0em #0080ff, -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.5), 0em 2.5em 0 0em rgba(0,128,255, 0.7), -1.8em 1.8em 0 0em #0080ff, -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.5), -1.8em 1.8em 0 0em rgba(0,128,255, 0.7), -2.6em 0em 0 0em #0080ff, -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.5), -2.6em 0em 0 0em rgba(0,128,255, 0.7), -1.8em -1.8em 0 0em #0080ff;
  }
}

/* */

/*----Modal---- */
.divDialogo
{
	z-index: 99999;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	border: #CCC 2px solid;
	background: none repeat scroll 0% 0% rgba(170, 170, 170, 0.8);
	color: #000000;
	border-radius: 5px;
	display:none;

}
.divDialogo>div
{

	position: relative;
	margin: 10% auto;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #A6C9E2;
	background: rgb(255, 255,255);
	//overflow: auto;
}
#divMensaje2.ui-dialog-content
{
	font-family: Arial;
	font-size: 100%;
	font-weight: bold;
}
#imagen
{
	margin-left: -50%;
}
#caja1{
/* width:168px;
	margin-bottom: 20%;*/
	margin-left: .5%;
}
#contenedor1
{
	margin-left: -5.5%;
}
.botonIcono
{
	background:white;
	border: none;
	margin-right: 30%;
	margin-left: 30%;
}
.bRenapo
{
	background:white;
	border: none;
}
.divContentDlg
{
	font-weight: bold;
	font-size: 16px;
}

/*#datosT{margin-bottom: 10px;}
#datosS{margin-top: 10px; margin-bottom: 10px;}*/
#textoA{margin-bottom: 1.5%;}
#textoE{margin-bottom: 1.5%;}
#textoTel{margin-top: 1%;}
#tdFirma{margin-top: 15%;}
/*#botonesF{margin-top: 60px; }*/
/*#chkfirma{margin-top:35px; margin-bottom:35px;}*/
#letra
{
  /* background-color:#0f862; */
  color: #86B6B8;
  font-weight: normal;
}

.divContentDlg
{
	font-weight: bold;
	font-size: 16px;
}
.botonDialogo
{
	width: 100%;
	height: 100%;
}
.divDialogo:target {
    opacity:1;
    pointer-events: auto;
}
.tituloDialogo
{
	width: 94%;
	height: 5%;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	background-color: #5A9ECF;
	color: rgb(255, 255,255);
	border-radius: 3px;
}
.btndlg-cerrar
{
	color: #FFF;
	background-color: #C9302C;
	border-color: #D43F3A;
	border-radius: 3px;
}
.btndlg-cerrar:hover
{
	color: #FFF;
	background-color: #C9302C;
	border-color: #AC2925;
}
.BtnModal
{
	display: inline-block;
    padding: 2px 8px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	 color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.al-frente {
	z-index: 9999 !important;
}

.ui-button-text-only .ui-button-text {
	padding: .1em 1em !important;
}

.deshabilitarBtn{
	color: gray !important;
	-webkit-color: gray !important;
}
.habilitarBtn{
	color: #2e6e9e !important;
	-webkit-color: #2e6e9e !important;
}

.deshabilitarImg{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	cursor: no-drop !important;
}

.habilitarImg{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
	cursor: pointer !important;
}

/*******************************<991.1>*******************************/
#divDlgFrame{
	display: none;
	width: 100% !important;
	height: 100% !important;
}

iframe.iframe-mdl{
	width: 100%;
	height: 100%;
	border-color: #fff;
}
/*******************************</991.1>*******************************/
