/*************************************************
*Barra Menu
*************************************************/
#navbar{
    background: none repeat scroll 0% 0% #0965AF;
}

#navbar-container .navbar-header a img.logoAfore{
    border: 1px solid #ffe40c;
    border-radius: 5px;
    width: 75%; 
}

#navbar-container .menu-info.navbar-header{
    height: 100%;
    padding-top: 15px;
    font-size: 1.1em;
    color: #fff;
}

.show1 {
    display: none;
}
.marger{
    width:75%;
}
#navbar-container .menu-info h5{
    margin: 1px;
    text-align: right;
}

#navbar-container .menu-info h5:last-child{
    margin-bottom: 10px;
}

#navbar-container .menu-info h5 i{
    margin-left: 10px;
}

/*************************************************
*Modal
*************************************************/
#myModal .modal-dialog{
    margin-top: 15%;
}

#myModal .modalPDF{
    margin-top: 1% !important;
}

#myModalPDF{
    display: none;
    position: absolute;
    top: 0px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.34);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/*************************************************
*Botones
*************************************************/
.btn-border-radius{
    border-radius: 8px;
}

/*************************************************
*Botones Menu Recertificacion
*************************************************/
.btnRecertificacion .btn{
    white-space: normal;
}

.btnRecertificacion .btn.btn-app{
    width: 80%;
    margin-bottom: 20px;
}

/* Boton Cuestionario Servicio */
@media (min-width: 1281px) {
  #btnEvaluacionServ {
	font-size:19px;
  }
}

@media (min-width: 1344px) {
  #btnEvaluacionServ {
	font-size:20px;
  }
}

/*Imagenes de los botones de Recertificación*/
.btnRecertifi{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
}

/*Activos*/
.IMGexpIdenActivo{
    background-image: url('../../imagenes/iconos-activos/exp_ei.png');
}

.IMGEvaluacionActivo{
    background-image: url('../../imagenes/iconos-activos/cuestionario.png');
}

.IMGDocotoActivo{
    background-image: url('../../imagenes/iconos-activos/rendimiento_neto.png');
}

.IMGGrabacionActivo{
    background-image: url('../../imagenes/iconos-activos/grabacionVideoAct.png');
}

.IMGSolRecerActivo{
    background-image: url('../../imagenes/iconos-activos/firma_contrato.png');
}

.IMGDigitalizadorActivo{
    background-image: url('../../imagenes/iconos-activos/digitalizador.png');
}

/*Hover*/
#btnExpIden:hover .btnRecertifi{
    background-image: url('../../imagenes/iconos-hover/exp_ei.png');
}

#btnEvaluacionServ:hover .btnRecertifi{
    background-image: url('../../imagenes/iconos-hover/cuestionario.png');
}

#btnDoctoRN:hover .btnRecertifi{
    background-image: url('../../imagenes/iconos-hover/rendimiento_neto.png');
}

#btnGrabacionVoz:hover .btnRecertifi{
    background-image: url('../../imagenes/iconos-hover/grabacionVideoHov.png');
}

#btnSolRecer:hover .btnRecertifi{
    background-image: url('../../../imagenes/iconos-hover/firma_contrato.png');
}

#btnDigitalizador:hover .btnRecertifi{
    background-image: url('../../imagenes/iconos-hover/digitalizador.png');
}

/*Desactivados*/
.IMGexpIdenInactivo{
    background-image: url('../../imagenes/iconos-inactivos/cuestionario.png');
}

.IMGEvaluacionInactivo{
    background-image: url('../../imagenes/iconos-inactivos/exp_ei.png');
}

.IMGDocotoInactivo{
    background-image: url('../../imagenes/iconos-inactivos/rendimiento_neto.png');
}

.IMGGrabacionInactivo{
    background-image: url('../../imagenes/iconos-inactivos/grabacionVideoDes.png');
}

.IMGSolRecerInactivo{
    background-image: url('../../imagenes/iconos-inactivos/firma_contrato.png');
}

.IMGDigitalizadorInactivo{
    background-image: url('../../imagenes/iconos-inactivos/digitalizador.png');
}

/*************************************************
*Botones Salir/Finalizar Recertificacion
*************************************************/
.btnOpc button{
    width: 120px;
}

.btnOpc i.fa{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
}

/*Activos*/
#btnSalir .fa-salir {
    background-image: url("../../imagenes/iconos-activos/salir.png");
}

#btnFinalizar .fa-finalizar {
    background-image: url("../../imagenes/iconos-activos/finalizar.png");
}

/*Hover*/
#btnSalir:hover .fa-salir{
    background-image: url("../../imagenes/iconos-hover/salir.png");
}

#btnFinalizar:hover .fa-finalizar{
    background-image: url("../../imagenes/iconos-hover/finalizar.png");
}

/*************************************************
*Llamadas CAT
*************************************************/

.divCATinput label{
    text-align: right; 
    padding-right: 10px;
    width: 35%;
}

/*************************************************
*Modal Huellas NIST
*************************************************/
.divCATinput .inputCAT{
    width: 40%;
}

img#btnhuella{
	position: absolute;
	top: 100px;
	right: 10px;
	width: 70px;
	background: none repeat scroll 0% 0% #E4E6E9;
	border: 1px solid #FFF;
	border-radius: 8px;
	z-index: 3000;
	padding: 5px;
}
 
div.clasetrabajador {
	display: none;
	position:absolute;
	font-size: 15.7px;
	width: 80% !important;
	background:#D6F1F2;
	top:235px;
	right:10%;
	left: 10%;
	padding: 10px;

	border-radius: 15px;
	z-index: 3050;
}

div.clasepromotor {
	display: none;
	position:absolute;
	font-size: 15.7px;
	width: 80% !important;
	background:#D6F1F2;
	top:100px;
	right:10%;
	left: 10%;
	padding: 10px;
	
	border-radius: 15px;
	z-index: 3050;
}


/*Bordes rojos correo*/
.txtSombraRojo{
    border: 1px solid red !important;
}

.txtSombraAzul{
    border: 1px solid lightskyblue !important;
}